{% extends "layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mb-2">
      <legend class="border-bottom"> Homo health status
      </legend>
      <canvas id="pie-chart" style="max-width:700px; max-height:700px;"></canvas>
    </div>


    <div class="col-md-6 mb-2">
      <legend class="border-bottom"> Expeditions per month
      </legend>
      <canvas id="bar-chart" style="max-width:700px; max-height:700px;"></canvas>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <legend class="border-bottom mb-4"> Active expeditions
      </legend>
      <div class="content table-wrapper-scroll-y">
        <table id="active-expeditions-table" class="m-table table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Start</th>
            </tr>
          </thead>
          <tbody>
            {% for expedition in active_expeditions %}
            <tr>
              <td>{{ expedition.id }} </td>
              <td>{{ expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <legend class="border-bottom mb-4"> Top 10 hunters
      </legend>
      <div class="content table-wrapper-scroll-y">
        <table id="active-expeditions-table" class="m-table table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Kills</th>
            </tr>
          </thead>
          <tbody>
            {% for hunter_tuple in top_ten_hunters %}
            <tr>
              <td> {{ hunter_tuple[0].id }} </td>
              <td> {{ hunter_tuple[0].homo.first_name }} {{ hunter_tuple[0].homo.last_name }} </td>
              <td> {{ hunter_tuple[1] }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <legend class="border-bottom mb-4"> Top 10 expeditions
      </legend>
      <div class="content table-wrapper-scroll-y">
        <table id="active-expeditions-table" class="m-table table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Kills</th>
            </tr>
          </thead>
          <tbody>
            {% for expedition_tuple in top_ten_expeditions %}
            <tr>
              <td> {{ expedition_tuple[0].id }} </td>
              <td> {{ expedition_tuple[0].end_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition_tuple[0].end_timestamp else '' }} </td>
              <td> {{ expedition_tuple[1] }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


{% endblock content %}

{% block scripts %}
{{ super() }}

<script>
  $(document).ready(function () {
    $('#active-expeditions-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [],
        lengthMenu: [[5, 10, 15], [5, 10, 15]]
      }
    );

    var ctx = document.getElementById("pie-chart");
    var piechart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["Healthy", "Wounded", "Dead"],
        datasets: [{
          data: ['{{ healthy_count }}', '{{ wounded_count }}', '{{ dead_count }}'],
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)'
          ],
        }],
        labels: [
          'Healthy',
          'Wounded',
          'Dead'
        ]
      }
    });


    var ctx = document.getElementById("bar-chart");
    var barchart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"],
        datasets: [{
          label: '# of expeditions',
          data: [
            '{{ expeditions_per_month[1] }}',
            '{{ expeditions_per_month[2] }}',
            '{{ expeditions_per_month[3] }}',
            '{{ expeditions_per_month[4] }}',
            '{{ expeditions_per_month[5] }}',
            '{{ expeditions_per_month[6] }}',
            '{{ expeditions_per_month[7] }}',
            '{{ expeditions_per_month[8] }}',
            '{{ expeditions_per_month[9] }}',
            '{{ expeditions_per_month[10] }}',
            '{{ expeditions_per_month[11] }}',
            '{{ expeditions_per_month[12] }}'
          ],
          backgroundColor: [
            'rgba(124, 241, 255, 0.5)',
            'rgba(40, 178, 171, 0.5)',
            'rgba(110, 255, 202, 0.5)',
            'rgba(137, 131, 255, 0.5)',
            'rgba(153, 102, 255, 0.5)',
            'rgba(255, 159, 64, 0.5)',
            'rgba(255, 99, 132, 0.5)',
            'rgba(255, 202, 106, 0.5)',
            'rgba(100, 50, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(59, 178, 168, 0.5)',
            'rgba(33, 159, 255, 0.5)',
          ],
          borderColor: [
            'rgba(124, 241, 255, 0.5)',
            'rgba(40, 178, 171, 0.5)',
            'rgba(110, 255, 202, 0.5)',
            'rgba(137, 131, 255, 0.5)',
            'rgba(153, 102, 255, 0.5)',
            'rgba(255, 159, 64, 0.5)',
            'rgba(255, 99, 132, 0.5)',
            'rgba(255, 202, 106, 0.5)',
            'rgba(100, 50, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(59, 178, 168, 0.5)',
            'rgba(33, 159, 255, 0.5)',
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

  });

</script>

{% endblock scripts %}
