{% extends "layout.html" %}
{% set active_page = "expeditions" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ expedition.id }} {{ "Assemble expedition" if expedition.state == "ASSEMBLING"
    else "Expedition details" }}</legend>
  <div class="m-2">
    {% if expedition.state == 'ACTIVE' or expedition.state == 'FINISHED' %}
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="start-timestamp">Start timestamp</label>
        <input id="start-timestamp" type="text" disabled class="form-control" value="{{ expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }}" />
      </div>

      <div class="col-md-6 mb-2">
        <label for="end-timestamp">End timestamp</label>
        <input id="end-timestamp" type="text" disabled class="form-control" value="{{ expedition.end_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.end_timestamp else '' }}" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="state">State</label>
        <input id="state" type="text" disabled class="form-control" value="{{ expedition.state }}" />
      </div>

      {% if expedition.state == 'FINISHED' %}
      <div class="col-md-6 mb-2">
        <label for="success">Success</label>
        <input id="success" type="text" disabled class="form-control" value="{{ expedition.success }}" />
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="accordion" id="accordion-expedition">
      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-hunters-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse"
            data-target="#accordion-hunters" aria-expanded="true" aria-controls="accordion-hunters">
            <i class="fas fa-minus fa-fw mr-1"></i>
            {% if expedition.state == 'ASSEMBLING' %}
            Assign hunters
            {% else %}
            Assigned hunters
            {% endif %}
          </button>
        </h5>
      </div>

      <div id="accordion-hunters" class="collapse" aria-labelledby="heading-hunters" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-hunters-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Health</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for hunter in expedition.hunters %}
                    <tr data-href="{{ url_for('homo_edit', homo_id=hunter.homo.id) }}">
                      <td>{{ hunter.homo.id }}</td>
                      <td>{{ ((hunter.homo.first_name or '') + ' ' + (hunter.homo.last_name or '')) if not
                        hunter.homo.removed else "<REMOVED>" }}</td>
                      <td>{{ hunter.homo.health if not hunter.homo.removed else "<REMOVED>" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-pits-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse"
            data-target="#accordion-pits" aria-expanded="true" aria-controls="accordion-hunters">
            <i class="fas fa-plus fa-fw mr-1"></i>
            {% if expedition.state == 'ASSEMBLING' %}
            Assign pits
            {% else %}
            Assigned pits
            {% endif %}
          </button>
        </h5>
      </div>

      <div id="accordion-pits" class="collapse" aria-labelledby="heading-pits" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-pits-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Lattitude</th>
                      <th scope="col">Longitude</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for pit in expedition.pits %}
                    <tr data-href="{{ url_for('pit_edit', pit_id=pit.id) }}">
                      <td>{{ pit.id }}</td>
                      <td>{{ pit.lattitude if not pit.removed else "<REMOVED>" }}</td>
                      <td>{{ pit.longitude if not pit.removed else "<REMOVED>" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-mammoths-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse"
            data-target="#accordion-mammoths" aria-expanded="true" aria-controls="accordion-mammoths">
            <i class="fas fa-plus fa-fw mr-1"></i>
            {% if expedition.state == 'ASSEMBLING' %}
            Assign mammoths
            {% else %}
            Assigned mammoths
            {% endif %}
          </button>
        </h5>
      </div>

      <div id="accordion-mammoths" class="collapse" aria-labelledby="heading-mammoths" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-mammoths-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Habits</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for mammoth in expedition.hunts_mammoths %}
                    <tr data-href="{{ url_for('mammoth_edit', mammoth_id=mammoth.id) }}">
                      <td>{{mammoth.id}}</td>
                      <td>{{mammoth.name if not mammoth.removed else "<REMOVED>" }}</td>
                      <td>{{(mammoth.habits or '') if not mammoth.removed else "<REMOVED>" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if expedition.state == 'FINISHED' %}
      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-killed-mammoths-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse"
            data-target="#accordion-killed-mammoths" aria-expanded="true" aria-controls="accordion-killed-mammoths">
            <i class="fas fa-plus fa-fw mr-1"></i>
            Killed mammoths
          </button>
        </h5>
      </div>

      <div id="accordion-killed-mammoths" class="collapse" aria-labelledby="heading-killed-mammoths" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-killed-mammoths-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Habits</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for mammoth in expedition.killed_mammoths %}
                    <tr data-href="{{ url_for('mammoth_edit', mammoth_id=mammoth.id) }}">
                      <td>{{mammoth.id}}</td>
                      <td>{{mammoth.name if not mammoth.removed else "<REMOVED>" }}</td>
                      <td>{{(mammoth.habits or '') if not mammoth.removed else "<REMOVED>" }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endif %}

    </div>

    {% if expedition.state == "ASSEMBLING" %}
    <a class="mt-4 btn btn-primary" href="{{ url_for('expedition_edit', expedition_id=expedition.id) + '?transition=ACTIVATE' }}">
      <i class="fas fa-fw fa-play mr-1"></i>
      Activate expedition
    </a>
    <a class="btn btn-danger mt-4" href="{{ url_for('expedition_remove', expedition_id=expedition.id) }}">
      <i class="fas fa-fw fa-trash-alt mr-1"></i>
      Remove expedition
    </a>
    {% endif %}

    {% if expedition.state == "ACTIVE" %}
    <a class="mt-4 btn btn-primary" href="{{ url_for('expedition_end', expedition_id=expedition.id) }}">
      <i class="fas fa-fw fa-stop mr-1"></i>
      End expedition
    </a>
    {% endif %}

  </div>
</div>

<div class="modal fade" id="manage-hunters-modal" tabindex="-1" role="dialog" aria-labelledby="manage-hunters-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage-hunters-modal-title">Manage hunters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="content table-wrapper-scroll-y">
              <table id="free-hunters-table" class="m-table table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Health</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for hunter in expedition.hunters %}
                  <tr>
                    <td>{{ hunter.homo.id }}</td>
                    <td>{{ ((hunter.homo.first_name or '') + ' ' + (hunter.homo.last_name or '')) if not
                      hunter.homo.removed else "<REMOVED>" }}</td>
                    <td>{{ hunter.homo.health if not hunter.homo.removed else "<REMOVED>" }}</td>
                    <td>
                      <button id="assign-hunter-{{ hunter.id }}" class="assign-button btn btn-primary float-right"
                        style="display: none;">Assign</button>
                      <button id="unassign-hunter-{{ hunter.id }}" class="unassign-button btn btn-danger float-right">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for hunter in free_hunters %}
                  <tr>
                    <td>{{ hunter.homo.id }}</td>
                    <td>{{ ((hunter.homo.first_name or '') + ' ' + (hunter.homo.last_name or '')) if not
                      hunter.homo.removed else "<REMOVED>" }}</td>
                    <td>{{ hunter.homo.health if not hunter.homo.removed else "<REMOVED>" }}</td>
                    <td>
                      <button id="assign-hunter-{{ hunter.id }}" class="assign-button btn btn-primary float-right">Assign</button>
                      <button id="unassign-hunter-{{ hunter.id }}" class="unassign-button btn btn-danger float-right"
                        style="display: none;">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manage-pits-modal" tabindex="-1" role="dialog" aria-labelledby="manage-pits-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage-pits-modal-title">Manage pits</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="content table-wrapper-scroll-y">
              <table id="free-pits-table" class="m-table table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lattitude</th>
                    <th scope="col">Longitude</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for pit in expedition.pits %}
                  <tr>
                    <td>{{ pit.id }}</td>
                    <td>{{ pit.lattitude if not pit.removed else "<REMOVED>" }}</td>
                    <td>{{ pit.longitude if not pit.removed else "<REMOVED>" }}</td>
                    <td>
                      <button id="assign-pit-{{ pit.id }}" class="assign-button btn btn-primary float-right" style="display: none;">Assign</button>
                      <button id="unassign-pit-{{ pit.id }}" class="unassign-button btn btn-danger float-right">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for pit in free_pits %}
                  <tr>
                    <td>{{ pit.id }}</td>
                    <td>{{ pit.lattitude }}</td>
                    <td>{{ pit.longitude }}</td>
                    <td>
                      <button id="assign-pit-{{ pit.id }}" class="assign-button btn btn-primary float-right">Assign</button>
                      <button id="unassign-pit-{{ pit.id }}" class="unassign-button btn btn-danger float-right" style="display: none;">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manage-mammoths-modal" tabindex="-1" role="dialog" aria-labelledby="manage-mammoths-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage-mammoths-modal-title">Manage mammoths</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="content table-wrapper-scroll-y">
              <table id="free-mammoths-table" class="m-table table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Habits</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for mammoth in expedition.hunts_mammoths %}
                  <tr>
                    <td>{{ mammoth.id }}</td>
                    <td>{{ mammoth.name if not mammoth.removed else "<REMOVED>" }} </td>
                    <td>{{ mammoth.habits if not mammoth.removed else "<REMOVED>" }}</td>
                    <td>
                      <button id="assign-mammoth-{{ mammoth.id }}" class="assign-button btn btn-primary float-right"
                        style="display: none;">Assign</button>
                      <button id="unassign-mammoth-{{ mammoth.id }}" class="unassign-button btn btn-danger float-right">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for mammoth in free_mammoths %}
                  <tr>
                    <td>{{ mammoth.id }}</td>
                    <td>{{ mammoth.name }} </td>
                    <td>{{ mammoth.habits }}</td>
                    <td>
                      <button id="assign-mammoth-{{ mammoth.id }}" class="assign-button btn btn-primary float-right">Assign</button>
                      <button id="unassign-mammoth-{{ mammoth.id }}" class="unassign-button btn btn-danger float-right"
                        style="display: none;">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}



{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {

    

    $('#exp-edit-start').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
      icons:
      {
        time: "fas fa-fw fa-clock",
        date: "fas fa-fw fa-calendar",
        up: "fas fa-fw fa-arrow-up",
        down: "fas fa-fw fa-arrow-down"
      }
    });

    $('#exp-edit-end').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
      icons:
      {
        time: "fas fa-fw fa-clock",
        date: "fas fa-fw fa-calendar",
        up: "fas fa-fw fa-arrow-up",
        down: "fas fa-fw fa-arrow-down"
      }
    });

    $('#exp-edit-start').attr('data-toggle', 'datetimepicker');
    $('#exp-edit-start').attr('data-target', '#exp-edit-start');
    $('#exp-edit-end').attr('data-toggle', 'datetimepicker');
    $('#exp-edit-end').attr('data-target', '#exp-edit-end');

    $('#manage-hunters-modal, #manage-pits-modal, #manage-mammoths-modal').modal({
      show: false
    });

    $('.collapse').collapse();

    //{% for id_name in ['hunters', 'pits', 'mammoths','killed-mammoths'] %}
    $('#accordion-{{ id_name }}').on('show.bs.collapse', function () {
      var icon = $('#accordion-{{ id_name }}-button').children('i');
      icon.removeClass('fa-plus');
      icon.addClass('fa-minus');
    });

    $('#accordion-{{ id_name }}').on('hide.bs.collapse', function () {
      var icon = $('#accordion-{{ id_name }}-button').children('i');
      icon.removeClass('fa-minus');
      icon.addClass('fa-plus');
    });


    var expedition_var_table = $('#expedition-{{ id_name }}-table').DataTable(
      {
        rowId: function (row) {
          return '{{ id_name }}-row-' + row[0];
        },
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          //{% if expedition.state == 'ASSEMBLING' %}
          {

            name: '{{ id_name }}-manage',
            attr: { id: '{{ id_name }}-manage' },
            text: '<i class="fas fa-fw fa-cog mr-1"></i> Manage {{ id_name }}',
            action: function (e, dt, node, config) { }

          }
          //{% endif %}
        ]
      }
    );

    expedition_var_table.button('{{ id_name }}-manage:name').nodes().attr('data-toggle', 'modal');
    expedition_var_table.button('{{ id_name }}-manage:name').nodes().attr('data-target', '#manage-{{ id_name }}-modal');

    $('#expedition-{{ id_name }}-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
    //{% endfor %}


    var expedition_hunters_table = $('#expedition-hunters-table').DataTable();
    var expedition_pits_table = $('#expedition-pits-table').DataTable();
    var expedition_mammoths_table = $('#expedition-mammoths-table').DataTable();

    $('#free-hunters-table').DataTable();

    // Ajax calls
    $('#free-hunters-table').on('click', '.assign-button', function () {
      var button = $(this);
      var hunter_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("assign_hunter") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          hunter_id: hunter_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#unassign-hunter-' + hunter_id).show();

          expedition_hunters_table.row.add([
            response.id,
            response.full_name,
            response.health
          ]).draw(true);

          $("#hunters-row-" + hunter_id).attr('data-href', '/homo_edit/' + hunter_id);
        },
        error: function (error) {
          alert('Unable to assign hunter to expedition');
        }
      });
    });

    $('#free-hunters-table').on('click', '.unassign-button', function () {
      var button = $(this);
      var hunter_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("unassign_hunter") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          hunter_id: hunter_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#assign-hunter-' + hunter_id).show();

          expedition_hunters_table.row(
            '#hunters-row-' + response.id).remove().draw(true);
        },
        error: function (error) {
          alert('Unable to unassign hunter from expedition');
        }
      });
    });


    $('#free-pits-table').DataTable();

    // Ajax calls
    $('#free-pits-table').on('click', '.assign-button', function () {
      var button = $(this);
      var pit_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("assign_pit") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          pit_id: pit_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#unassign-pit-' + pit_id).show();

          expedition_pits_table.row.add([
            response.id,
            response.lattitude,
            response.longitude
          ]).draw(true);

          $("#pits-row-" + pit_id).attr('data-href', '/pit_edit/' + pit_id);
        },
        error: function (error) {
          alert('Unable to assign pit to expedition');
        }
      });
    });

    $('#free-pits-table').on('click', '.unassign-button', function () {
      var button = $(this);
      var pit_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("unassign_pit") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          pit_id: pit_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#assign-pit-' + pit_id).show();

          expedition_pits_table.row(
            '#pits-row-' + response.id).remove().draw(true);
        },
        error: function (error) {
          alert('Unable to unassign pit from expedition');
        }
      });
    });

    $('#free-mammoths-table').DataTable();

    // Ajax calls
    $('#free-mammoths-table').on('click', '.assign-button', function () {
      var button = $(this);
      var mammoth_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("assign_mammoth") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          mammoth_id: mammoth_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#unassign-mammoth-' + mammoth_id).show();

          expedition_mammoths_table.row.add([
            response.id,
            response.name,
            response.special_chars,
            response.habits
          ]).draw(true);

          $("#mammoths-row-" + mammoth_id).attr('data-href', '/mammoth_edit/' + mammoth_id);
        },
        error: function (error) {
          alert('Unable to assign mammoth to expedition');
        }
      });
    });

    $('#free-mammoths-table').on('click', '.unassign-button', function () {
      var button = $(this);
      var mammoth_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("unassign_mammoth") }}',
        data: {
          expedition_id: '{{ expedition.id }}',
          mammoth_id: mammoth_id
        },
        type: 'POST',
        success: function (response) {
          button.hide();
          $('#assign-mammoth-' + mammoth_id).show();

          expedition_mammoths_table.row(
            '#mammoths-row-' + response.id).remove().draw(true);
        },
        error: function (error) {
          alert('Unable to unassign mammoth from expedition');
        }
      });
    });
  });
</script>
{% endblock scripts %}