{% extends "layout.html" %}
{% set active_page = "expeditions" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ expedition.id }} Expedition end</legend>
  <div class="m-2">
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="start-timestamp">Start timestamp</label>
        <input id="start-timestamp" type="text" disabled class="form-control" value="{{ expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }}" />
      </div>

      <div class="col-md-6 mb-2">
        <label for="end-timestamp">End timestamp</label>
        <input id="end-timestamp" type="text" disabled class="form-control" value="" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="state">State</label>
        <input id="state" type="text" disabled class="form-control" value="IN REVIEW" />
      </div>
    </div>

    <div class="accordion" id="accordion-expedition">
      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-hunters-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse" data-target="#accordion-hunters" aria-expanded="true" aria-controls="accordion-hunters">
            <i class="fas fa-minus fa-fw mr-1"></i>
            Assigned hunters
          </button>
        </h5>
      </div>

      <div id="accordion-hunters" class="collapse" aria-labelledby="heading-hunters" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-hunters-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" width="10%">#</th>
                      <th scope="col" width="40%">Name</th>
                      <th scope="col" width="30%">Health</th>
                      <th scope="col" width="20%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for hunter in expedition.hunters %}
                    <tr data-href="{{ url_for('homo_edit', homo_id=hunter.homo.id) }}">
                      <td>{{ hunter.homo.id }}</td>
                      <td>{{ ((hunter.homo.first_name or '') + ' ' + (hunter.homo.last_name or '')) if not hunter.homo.removed else "<REMOVED>" }}</td>
                      <td>{{ hunter.homo.health if not hunter.homo.removed else "<REMOVED>" }}</td>
                      <td><button class="btn btn-danger float-right" data-toggle="modal" data-target="#report-death-modal" onclick="$('#hunter-killed').val({{ hunter.id }})">Report death</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header">
        <h5 class="mb-0">
          <button id="accordion-mammoths-button" class="btn btn-link collapse-btn" type="button" data-toggle="collapse" data-target="#accordion-mammoths" aria-expanded="true" aria-controls="accordion-mammoths">
            <i class="fas fa-plus fa-fw mr-1"></i>
            Assigned mammoths
          </button>
        </h5>
      </div>

      <div id="accordion-mammoths" class="collapse" aria-labelledby="heading-mammoths" data-parent="#accordion-expedition">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="content table-wrapper-scroll-y">
                <table id="expedition-mammoths-table" class="m-table table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" width="10%">#</th>
                      <th scope="col" width="30%">Name</th>
                      <th scope="col" width="40%">Habits</th>
                      <th scope="col" width="20%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for mammoth in expedition.hunts_mammoths %}
                    <tr data-href="{{ url_for('mammoth_edit', mammoth_id=mammoth.id) }}">
                      <td>{{mammoth.id}}</td>
                      <td>{{mammoth.name if not mammoth.removed else "<REMOVED>" }}</td>
                      <td>{{(mammoth.habits or '') if not mammoth.removed else "<REMOVED>" }}</td>
                      <td><button class="btn btn-success float-right" data-toggle="modal" data-target="#report-kill-modal" onclick="$('#mammoth-killed').val({{ mammoth.id }})">Report kill</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form id="expedition-end-form" method="POST" action="" novalidate>
      {{ form.hidden_tag() }}
      <div style="display: none;">
        {{ form.killed_hunters() }}
        {{ form.killed_mammoths() }}
      </div>
      <button type="submit" class="mt-4 btn btn-primary">
        <i class="fas fa-fw fa-save mr-1"></i>
        Finish expedition
      </button>
    </form>
  </div>
</div>

<div class="modal fade" id="report-death-modal" tabindex="-1" role="dialog" aria-labelledby="report-death-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="report-death-modal-title">Report death</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="hunter-killed">Hunter</label>
            <input id="hunter-killed" type="text" disabled class="form-control" value="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="hunter-killed-by">Killed by</label>
            <select id="hunter-killed-by" class="form-control">
              <option>-- None --</option>
              {% for mammoth in expedition.hunts_mammoths %}
              <option value="{{ mammoth.id }}">{{ "#{} {}".format(mammoth.id, mammoth.name) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="handle-killed-hunter" type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-fw fa-save mr-1"></i>
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="report-kill-modal" tabindex="-1" role="dialog" aria-labelledby="report-kill-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="report-kill-modal-title">Report kill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="mammoth-killed">Mammoth</label>
            <input id="mammoth-killed" type="text" disabled class="form-control" value="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="mammoth-killed-by">Killed by</label>
            <select id="mammoth-killed-by" class="form-control">
              <option>-- None --</option>
              {% for hunter in expedition.hunters %}
              <option value="{{ hunter.id }}">{{ "#{} {} {}".format(hunter.id, hunter.homo.first_name, hunter.homo.last_name) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="mammoth-killed-in">Killed by</label>
            <select id="mammoth-killed-in" class="form-control">
              <option>-- None --</option>
              {% for pit in expedition.pits %}
              <option value="{{ pit.id }}">{{ "#{} {} {}".format(pit.id, pit.lattitude, pit.longitude) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="handle-killed-mammoth" type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-fw fa-save mr-1"></i>
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}



{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var killed_hunters = [];
    var killed_mammoths = [];

    $("#killed_hunters").val(JSON.stringify(killed_hunters));
    $("#killed_mammoths").val(JSON.stringify(killed_mammoths));

    $('#report-death-modal, #manage-pits-modal, #report-kill-modal').modal({
      show: false
    });

    $('.collapse').collapse();

    //{% for id_name in ['hunters', 'mammoths'] %}
    $('#accordion-{{ id_name }}').on('show.bs.collapse', function () {
      var icon = $('#accordion-{{ id_name }}-button').children('i');
      icon.removeClass('fa-plus');
      icon.addClass('fa-minus');
    });

    $('#accordion-{{ id_name }}').on('hide.bs.collapse', function () {
      var icon = $('#accordion-{{ id_name }}-button').children('i');
      icon.removeClass('fa-minus');
      icon.addClass('fa-plus');
    });


    var expedition_var_table = $('#expedition-{{ id_name }}-table').DataTable(
      {
        rowId: function (row) {
          return '{{ id_name }}-row-' + row[0];
        },
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: []
      }
    );

    expedition_var_table.button('{{ id_name }}-manage:name').nodes().attr('data-toggle', 'modal');
    expedition_var_table.button('{{ id_name }}-manage:name').nodes().attr('data-target', '#manage-{{ id_name }}-modal');
    //{% endfor %}

    var expedition_hunters_table = $('#expedition-hunters-table').DataTable()
    var expedition_mammoths_table = $('#expedition-mammoths-table').DataTable()

    $("#handle-killed-hunter").click(function () {
      var hunter_id = $("#hunter-killed").val();
      var mammoth_id = $("#hunter-killed-by").val();

      if (Boolean(hunter_id) && mammoth_id !== "-- None --") {
        $("#hunters-row-" + hunter_id).addClass("expedition-end-hunter-killed");
        killed_hunters.push([hunter_id, mammoth_id]);
      }
      else {
        for (var i = 0; i < killed_hunters.length; i++) {
          if (killed_hunters[i][0] == hunter_id) {
            $("#hunters-row-" + hunter_id).removeClass("expedition-end-hunter-killed");
            killed_hunters.splice(i, 1);
            break;
          }
        }
      }
      $("#killed_hunters").val(JSON.stringify(killed_hunters));
    });

    $("#handle-killed-mammoth").click(function () {
      var mammoth_id = $("#mammoth-killed").val();
      var hunter_id = $("#mammoth-killed-by").val();
      var pit_id = $("#mammoth-killed-in").val();

      if (Boolean(mammoth_id) && hunter_id !== "-- None --" && pit_id !== "-- None --") {
        $("#mammoths-row-" + mammoth_id).addClass("expedition-end-mammoth-killed");
        killed_mammoths.push([mammoth_id, hunter_id, pit_id]);
      }
      else {
        for (var i = 0; i < killed_mammoths.length; i++) {
          if (killed_mammoths[i][0] == mammoth_id) {
            $("#mammoths-row-" + mammoth_id).removeClass("expedition-end-mammoth-killed");
            killed_mammoths.splice(i, 1);
            break;
          }
        }
      }
      $("#killed_mammoths").val(JSON.stringify(killed_mammoths));
    });
  });
</script>
{% endblock scripts %}
