{% extends "layout.html" %}
{% set active_page = "expeditions" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4"> Expeditions
</legend>
<div class="content table-wrapper-scroll-y">
  <table id="expeditions-table" class="m-table table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">State</th>
        <th scope="col">Success</th>
      </tr>
    </thead>
    <tbody>
      {% for expedition in expedition_list %}
      <tr data-href="{{ url_for('expedition_edit', expedition_id=expedition.id) }}">
        <td>{{ expedition.id }} </td>
        <td>{{ expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }} </td>
        <td>{{ expedition.end_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.end_timestamp else '' }} </td>
        <td>{{ expedition.state }} </td>
        <td>{{ expedition.success if expedition.state == "FINISHED" else '' }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#expeditions-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          {
            attr: { id: 'expedition-add' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> Add expedition',
            action: function (e, dt, node, config) {
              window.location.href = '{{ url_for("expedition_add") }}';
            }
          }
        ]
      }
    );

    $('#expeditions-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
