{% extends "layout.html" %}
{% set active_page = "homos" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4">Homos</legend>
<div class="content table-wrapper-scroll-y">
  <table id="homos-table" class="m-table table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Health</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for homo in homo_list %}
      <tr data-href="{{ url_for('homo_edit', homo_id=homo.id) }}">
        <td>{{homo.id}}</td>
        <td>{{homo.first_name or ''}} {{homo.last_name or ''}}</td>
        <td>{{homo.email}}</td>
        <td>{{homo.health}}</td>
        <td>{{homo.role}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#homos-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          {
            attr: { id: 'add-homo' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> Add homo',
            action: function (e, dt, node, config) {
              window.location.href = '{{ url_for("homo_add") }}';
            }
          }
        ]
      }
    );


    $('#homos-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
