{% extends "layout.html" %}
{% set active_page = "homos" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ homo.id }} Homo details</legend>
  <form id="homo-edit-form" method="POST" action="" class="m-2" novalidate>

    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4">Auth</legend>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.email.label() }} <span class="required-field">*</span>
        {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control") }}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.password.label() }} <span class="required-field">*</span>
        {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid", placeholder="Unchanged") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          { error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control", placeholder="Unchanged") }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="homo-role">Role</label> <span class="required-field">*</span>
        <input id="homo-role" type="text" class="form-control" disabled value="{{ homo.role }}">
      </div>
    </div>

    <legend class="border-bottom mb-4">Info</legend>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.first_name.label() }}
        {% if form.first_name.errors %}
        {{ form.first_name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.first_name.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.first_name(class="form-control") }}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.last_name.label() }}
        {% if form.last_name.errors %}
        {{ form.last_name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.last_name.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.last_name(class="form-control") }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-2">
        {{ form.date_of_birth.label() }}
        {% if form.date_of_birth.errors %}
        {{ form.date_of_birth(class="form-control datetimepicker-input is-invalid", id="date-of-birth") }}
        <div class="invalid-feedback">
          {% for error in form.date_of_birth.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.date_of_birth(class="form-control datetimepicker-input", id="date-of-birth")}}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.health.label() }}
        {% if form.health.errors %}
        {{ form.health(class="custom-select d-block w-100 is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.health.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.health(class="custom-select d-block w-100") }}
        {% endif %}
      </div>
    </div>

    <div class="md-3 mb-3">
      {{ form.skills.label() }}
      {% if form.skills.errors %}
      {{ form.skills(class="form-control is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.skills.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% else %}
      {{ form.skills(class="form-control") }}
      {% endif %}
    </div>

    {% if homo.role == "HUNTER" %}
    <legend class="border-bottom mb-4">Active expedition</legend>
    {% if active_expedition %}
    <div class="row">
      <div class="col-md-4 mb-2">
        <b>#</b> <br>
        {{ active_expedition.id }}
      </div>
      <div class="col-md-4 mb-2">
        <b> Start </b> <br>
        {{ active_expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if active_expedition.start_timestamp else '' }}
      </div>
      <div class="col-md-4 mb-2">
        <b>Status </b> <br>
        {{ active_expedition.state }}
      </div>
    </div>
    {% else %}
    <div>This homo is not assigned to any active expedition</div>
    {% endif %}
    {% endif %}


    <button type="input submit" class="mt-4 btn btn-primary">
      <i class="fas fa-fw fa-save mr-1"></i>
      Save Changes
    </button>
    <a class="btn btn-danger mt-4" href="{{ url_for('homo_remove', homo_id=homo.id) }}">
      <i class="fas fa-fw fa-trash-alt mr-1"></i>
      Remove homo
    </a>
  </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    $('#date-of-birth').datetimepicker({
      format: 'YYYY-MM-DD',
      icons:
      {
        time: "fas fa-fw fa-clock",
        date: "fas fa-fw fa-calendar",
        up: "fas fa-fw fa-arrow-up",
        down: "fas fa-fw fa-arrow-down"
      }

    });
    $('#date-of-birth').attr('data-toggle', 'datetimepicker');
    $('#date-of-birth').attr('data-target', '#date-of-birth');
  });
</script>
{% endblock scripts %}
