<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mammoth_layout.css') }}" />

  <!-- Bootstrap datepicker CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" />

  <!-- Font awesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>

</head>

<body>

  <nav class="sticky navbar d-md-none navbar-dark navbar-top">
    <h3 style="color:white;" class="navbar-logo col-sm-3 col-md-2 mr-0" href="#">Mammoth</h3>
    <button class="navbar-toggler navbar-top-hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="width:100%;" class="mt-4 nav flex-column">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'dashboard' else '' }}" href="{{ url_for('dashboard') }}">
            <i class="fas fa-fw fa-home mr-1"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'profile' else '' }}" href="{{ url_for('profile_edit') }}">
            <i class="fas fa-fw fa-home mr-1"></i>
            Profile
          </a>
        </li>
        {% if current_user.role in ["ADMIN", "PATROL"] %}
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'messages' else '' }}" href="{{ url_for('message_list') }}">
            <i class="fas fa-fw fa-envelope mr-1"></i>
            Messages
            <span class="messages-num" style="display: none;"></span>
          </a>
        </li>
        {% endif %}
        {% if current_user.role == "ADMIN" %}
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'homos' else '' }}" href="{{ url_for('homo_list') }}">
            <i class="fas fa-fw fa-users mr-1"></i>
            Homos
          </a>
        </li>
        {% endif %}
        {% if current_user.role in ["ADMIN", "PATROL"] %}
        <li class="nav-item">
          <a class="mammoths-link nav-link {{ 'active' if active_page == 'mammoths' else '' }}" href="{{ url_for('mammoth_list') }}">
            <img class="mammoth-icon svg" style="max-height: 20px;" src="{{ url_for('static', filename='img/logo-clear.svg') }}">
            Mammoths
          </a>
        </li>
        {% endif %}
        {% if current_user.role == "ADMIN" %}
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'expeditions' else '' }}" href="{{ url_for('expedition_list') }}">
            <i class="fas fa-fw fa-bullseye mr-1"></i>
            Expeditions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'locations' else '' }}" href="{{ url_for('pit_list') }}">
            <i class="fas fa-fw fa-map-marked-alt mr-1"></i>
            Pits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">
            <i class="fas fa-fw fa-sign-out-alt mr-1"></i>
            Log out
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav style="padding:0px;" class="col-md-2 d-md-block d-none sidebar">


        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item" style="text-align:center; ">
              <img id="navbar-logo" class="navbar-brand col-sm-3 col-md-2 mr-0" style="background-color:transparent; max-height: 48px;" src="{{ url_for('static', filename='img/logo-clear.svg') }}">
              <!-- <a id="navbar-title" style="font-size:48px;">Mammoth</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'dashboard' else '' }}" href="{{ url_for('dashboard') }}">
                <i class="fas fa-fw fa-home mr-1"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'profile' else '' }}" href="{{ url_for('profile_edit') }}">
                <i class="fas fa-fw fa-user-circle mr-1"></i>
                Profile
              </a>
            </li>
            {% if current_user.role in ["ADMIN", "PATROL"] %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'messages' else '' }}" href="{{ url_for('message_list') }}">
                <i class="fas fa-fw fa-envelope mr-1"></i>
                Messages
                <span class="messages-num" style="display: none;"></span>
              </a>
            </li>
            {% endif %}
            {% if current_user.role == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'homos' else '' }}" href="{{ url_for('homo_list') }}">
                <i class="fas fa-fw fa-users mr-1"></i>
                Homos
              </a>
            </li>
            {% endif %}
            {% if current_user.role in ["ADMIN", "PATROL"] %}
            <li class="nav-item">
              <a class="mammoths-link nav-link {{ 'active' if active_page == 'mammoths' else '' }}" href="{{ url_for('mammoth_list') }}">
                <img class="mammoth-icon svg" style="max-height: 20px;" src="{{ url_for('static', filename='img/logo-clear.svg') }}">
                Mammoths
              </a>
            </li>
            {% endif %}
            {% if current_user.role == "ADMIN" %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'expeditions' else '' }}" href="{{ url_for('expedition_list') }}">
                <i class="fas fa-fw fa-bullseye mr-1"></i>
                Expeditions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'locations' else '' }}" href="{{ url_for('pit_list') }}">
                <i class="fas fa-fw fa-map-marked-alt mr-1"></i>
                Pits
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">
              <i class="fas fa-fw fa-sign-out-alt mr-1"></i>
              Log out
            </a>
          </li>
        </ul>
      </nav>

      <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <div class="my-3">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="flashes alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% block content %} {% endblock %}
        </div>
      </main>
    </div>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.min.js') }}"></script>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

  {% if current_user.role == 'ADMIN' %}
  <script>
    // Ajax call
    $(document).ready(function () {
      get_new_messages_count();
      setInterval(get_new_messages_count, 60000); // 1 min

      function get_new_messages_count() {
        $.ajax({
          url: '{{ url_for("pending_messages") }}',
          type: 'GET',
          success: function (response) {
            if (response.count > 0) {
              var messages_num = $('.messages-num');
              messages_num.text(response.count < 100 ? response.count : '99+');
              messages_num.show();
            }
          }
        });
      };
    });
  </script>

  {% endif %}

  {% block scripts %} {% endblock scripts %}
</body>

</html>
