<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>Log in</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles -->
  <link href="{{ url_for('static', filename='css/mammoth_login.css') }}" rel="stylesheet">
</head>

<body class="text-center">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="flash-message flashes alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  <br />
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form class="form-login" method="POST" action="">
    <img class="mb-4 login-logo" src="{{ url_for('static', filename='img/logo-clear.svg') }}" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    {{ form.hidden_tag() }}

    {{ form.email.label(class="sr-only") }}
    {% if form.email.errors %}
    {{ form.email(class="form-control is-invalid", placeholder="Email address") }}
    <div class="invalid-feedback">
      {% for error in form.email.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.email(class="form-control", placeholder="Email address") }}
    {% endif %}
    <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
    <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->

    {{ form.password.label(class="sr-only") }}
    {% if form.password.errors %}
    {{ form.password(class="form-control is-invalid", placeholder="Password") }}
    <div class="invalid-feedback">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.password(class="form-control", placeholder="Password") }}
    {% endif %}
    <!-- <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->

    <div class="checkbox mb-3">
      <label>
        {{ form.remember() }} {{ form.remember.label() }}
      </label>
    </div>

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

    <div class="border-top pt-3 pb-3">
      <small class="text-muted">
        School project for Information Systems <br> Brno University of Technology
      </small>
    </div>
  </form>
</body>

</html>
