{% extends "layout.html" %}
{% set active_page = "mammoths" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ mammoth.id }} Mammoth details</legend>
  <form id="mamoth-edit-form" method="POST" action="" class="m-2 needs-validation" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-12 mb-2">
        {{ form.name.label() }} <span class="required-field">*</span>
        {% if form.name.errors %}
        {{ form.name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.name(class="form-control") }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.special_chars.label() }}
        {{ form.special_chars(class="form-control") }}
      </div>

      <div class="col-md-6 mb-2">
        {{ form.habits.label() }}
        {{ form.habits(class="form-control") }}
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-md-3 mb-2">
        <b>Status</b> <br>
        {{'DEAD' if mammoth.killed_in else 'ALIVE' }}
      </div>
      <div class="col-md-3 mb-2">
        <b>Killed in</b> <br>
        {{ "#{} {} {}".format(mammoth.killed_in.id, mammoth.killed_in.lattitude, mammoth.killed_in.longitude) if mammoth.killed_in else '' }}
      </div>
      <div class="col-md-3 mb-2">
        <b>Killed by</b> <br>
        {{ "#{} {} {}".format(mammoth.killed_by.id, mammoth.killed_by.homo.first_name, mammoth.killed_by.homo.last_name) if mammoth.killed_by else '' }}
      </div>
      <div class="col-md-3 mb-2">
        <b>Killed hunters</b> <br>
        {% for hunter in mammoth.killed_hunters %}
        {{ hunter.homo.first_name }} {{ hunter.homo.last_name }}<br />
        {% endfor %}
      </div>
    </div>

    <button type="input submit" class="mt-4 btn btn-primary">
      <i class="fas fa-fw fa-save mr-1"></i>
      Save Changes
    </button>
    <a class="btn btn-danger mt-4" href="{{ url_for('mammoth_remove', mammoth_id=mammoth.id) }}">
      <i class="fas fa-fw fa-trash-alt mr-1"></i>
      Remove mammoth
    </a>

  </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
