{% extends "layout.html" %}
{% set active_page = "mammoths" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4">Mammoths</legend>
<div class="content table-wrapper-scroll-y">
  <table id="mammoths-table" class="m-table table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Special Characters</th>
        <th scope="col">Habits</th>
        <th scope="col">Health</th>
      </tr>
    </thead>
    <tbody>
      {% for mammoth in mammoth_list %}
      <tr data-href="{{ url_for('mammoth_edit', mammoth_id=mammoth.id) }}">
        <td>{{mammoth.id}}</td>
        <td>{{mammoth.name}}</td>
        <td>{{mammoth.special_chars or '' }}</td>
        <td>{{mammoth.habits or ''}}</td>
        <td>{{'DEAD' if mammoth.killed_in else 'ALIVE' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#mammoths-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          {
            attr: { id: 'mammoth-add' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> Add mammoth',
            action: function (e, dt, node, config) {
              window.location.href = '{{ url_for("mammoth_add") }}';
            }
          }
        ]
      }
    );

    $('#mammoths-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
