{% extends "layout.html" %}
{% set active_page = "mammoths" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">Add mammoth</legend>
  <!-- {{ form.submit(class="btn btn-lg btn-primary md-3 my-3") }} -->
  <form id="mammoth-add-form" method="POST" action="" class="m-2 needs-validation" novalidate>

    {{ form.hidden_tag() }}

    <div class="row">
      <div class="col-md-12 mb-2">
        {{ form.name.label() }} <span class="required-field">*</span>
        {% if form.name.errors %}
        {{ form.name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
          {{ error }}
          {% endfor %}
        </div>

        {% else %}
        {{ form.name(class="form-control") }}
        {% endif %}

      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-2">
        {{ form.special_chars.label() }} <span class="required-field">*</span>
        {% if form.special_chars.errors %}
        {{ form.special_chars(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.special_chars.errors %}
          {{ error }}
          {% endfor %}
        </div>

        {% else %}
        {{ form.special_chars(class="form-control") }}
        {% endif %}

      </div>

      <div class="col-md-6 mb-2">
        {{ form.habits.label() }} <span class="required-field">*</span>
        {% if form.habits.errors %}
        {{ form.habits(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.habits.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.habits(class="form-control") }}
        {% endif %}
      </div>
    </div>

    <button type="input submit" class="mt-4 btn btn-primary">
      <i class="fas fa-fw fa-plus mr-1"></i>
      Add mammoth
    </button>

  </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
