{% extends "layout.html" %}
{% set active_page = "messages" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ message.id }} Message Detail</legend>
  <div class="m-2">
    <legend class="border-bottom mb-4">Body</legend>
    <div class="mb-4">
      {{ message.body or ''}}
    </div>
    <legend class="border-bottom mb-4">Mammoths</legend>
    <div class="content table-wrapper-scroll-y">
      <table id="mammoths-table" class="m-table table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Special Characters</th>
            <th scope="col">Habits</th>
            <th scope="col">Health</th>
          </tr>
        </thead>
        <tbody>
          {% for mammoth in message.mammoths %}
          <tr data-href="{{ url_for('mammoth_edit', mammoth_id=mammoth.id) }}">
            <td>{{mammoth.id}}</td>
            <td>{{mammoth.name}}</td>
            <td>{{mammoth.special_chars or '' }}</td>
            <td>{{mammoth.habits or ''}}</td>
            <td>{{'DEAD' if mammoth.killed_in else 'ALIVE' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if is_admin and not message.resolved %}
    <a class="mt-4 btn btn-primary" href="{{ url_for('resolve_message', message_id=message.id, new_expedition=True) }}">
      <i class="fas fa-fw fa-plus mr-1"></i>
      Create Expedition
    </a>
    <a class="mt-4 btn btn-danger" href="{{ url_for('resolve_message', message_id=message.id, new_expedition=False) }}">
      <i class="fas fa-fw fa-ban mr-1"></i>
      Ignore Message
    </a>
    {% endif %}
  </div>

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#mammoths-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: []
      }
    );

    $('#mammoths-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
