{% extends "layout.html" %}
{% set active_page = "messages" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4">{{ "Received Messages" if is_admin else "Sent Messages" }}</legend>
<div class="content table-wrapper-scroll-y">
  <table id="messages-table" class="m-table table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sent</th>
        {% if is_admin %}
        <th scope="col">From</th>
        {% endif %}
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for message in message_list %}
      <tr class="{{ 'message-pending' if not message.resolved else '' }}" data-href="{{ url_for('message_edit', message_id=message.id) }}">
        <td>{{ message.id }}</td>
        <td>{{ message.sent_timestamp.strftime('%Y-%m-%d %H:%M:%S') }} </td>
        {% if is_admin %}
        <td>{{ message.patrol.homo.first_name }} {{ message.patrol.homo.last_name }}</td>
        {% endif %}
        <td>{{ 'RESOLVED' if message.resolved else 'PENDING' }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#messages-table').DataTable(
      {
        order: [[1, "desc"]],
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          //{% if not is_admin %}
          {
            attr: { id: 'new-message' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> New Message',
            action: function (e, dt, node, config) {
              window.location.href = '{{ url_for("message_add") }}';
            }
          }
          //{% endif %}
        ]
      }
    );

    $('#messages-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
