{% extends "layout.html" %}
{% set active_page = "messages" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4">New Message</legend>
<div class="container-fluid">
  <form id="message-add-form" method="POST" action="" class="m-2 needs-validation" novalidate>
    {{ form.hidden_tag() }}
    {{ form.body.label }}
    {% if form.body.errors %}
    {{ form.body(class="form-control is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.body.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% else %}
    {{ form.body(class="form-control") }}
    {% endif %}
    <div style="display: none;">
      {{ form.mammoths() }}
    </div>
  </form>
  <legend class="border-bottom mb-4">Mammoths</legend>
  <div class="content table-wrapper-scroll-y">
    <table id="mammoths-table" class="m-table table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Special Characters</th>
          <th scope="col">Habits</th>
          <th scope="col">Health</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <button type="input submit" form="message-add-form" class="mt-4 btn btn-primary">
    <i class="fas fa-fw fa-paper-plane mr-1"></i>
    Send Message
  </button>
</div>

<div class="modal fade" id="manage-mammoths-modal" tabindex="-1" role="dialog" aria-labelledby="manage-mammoths-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage-mammoths-modal-title">Manage mammoths</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="content table-wrapper-scroll-y">
              <table id="free-mammoths-table" class="m-table table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Habits</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for mammoth in mammoths_alive %}
                  <tr>
                    <td>{{ mammoth.id }}</td>
                    <td>{{ mammoth.name }} </td>
                    <td>{{ mammoth.habits }}</td>
                    <td>
                      <button id="assign-mammoth-{{ mammoth.id }}" class="assign-button btn btn-primary float-right">Assign</button>
                      <button id="unassign-mammoth-{{ mammoth.id }}" class="unassign-button btn btn-danger float-right" style="display: none;">Unassign</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var assigned_mammoths = [];

    $('#manage-mammoths-modal').modal({
      show: false
    });

    var assigned_mammoths_table = $('#mammoths-table').DataTable(
      {
        rowId: function (row) {
          return 'mammoths-row-' + row[0];
        },
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          {
            name: 'mammoths-manage',
            attr: { id: 'mammoths-manage' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> Manage Mammoths',
            action: function (e, dt, node, config) { }
          }
        ]
      }
    );

    assigned_mammoths_table.button('mammoths-manage:name').nodes().attr('data-toggle', 'modal');
    assigned_mammoths_table.button('mammoths-manage:name').nodes().attr('data-target', '#manage-mammoths-modal');

    $('#messages-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });

    var free_mammoths_table = $('#free-mammoths-table').DataTable();

    $('#free-mammoths-table').on('click', '.assign-button', function () {
      var button = $(this);
      var mammoth_id = button.attr('id').split('-').slice(-1)[0];
      $.ajax({
        url: '{{ url_for("is_mammoth_alive") }}',
        data: {
          mammoth_id: mammoth_id
        },
        type: 'POST',
        success: function (response) {
          assigned_mammoths.push(mammoth_id);
          $("#mammoths").val(JSON.stringify(assigned_mammoths));

          button.hide();
          $('#unassign-mammoth-' + mammoth_id).show();

          assigned_mammoths_table.row.add([
            response.id,
            response.name,
            response.special_chars,
            response.habits,
            response.health
          ]).draw(true);
        },
        error: function (error) {
          alert('Unable to assign mammoth to message');
        }
      });
    });

    $('#free-mammoths-table').on('click', '.unassign-button', function () {
      var button = $(this);
      var mammoth_id = button.attr('id').split('-').slice(-1)[0];

      assigned_mammoths.splice(assigned_mammoths.indexOf(mammoth_id), 1);
      $("#mammoths").val(JSON.stringify(assigned_mammoths));

      button.hide();
      $('#assign-mammoth-' + mammoth_id).show();

      console.log('#mammoths-row-' + mammoth_id);
      assigned_mammoths_table.row(
        '#mammoths-row-' + mammoth_id).remove().draw(true);
    });
  });
</script>
{% endblock scripts %}
