{% extends "layout.html" %}
{% set active_page = "pit_edit" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ pit.id }} Pit details</legend>
  <div class="row">
    <div class="col-md-4 mb-2">
      <b>Lattitude</b> <br>
      {{ pit.lattitude }}
    </div>
    <div class="col-md-4 mb-2">
      <b>Longitude</b> <br>
      {{ pit.longitude }}
    </div>
    <div class="col-md-4 mb-2">
      <b>Status</b> <br>
      <div>{{ "OCCUPIED" if pit.active_expedition_id else "FREE" }}</div>
    </div>
  </div>

  <legend class="border-bottom mb-4">Active expedition</legend>
  {% if pit.active_expedition %}
  <div class="row">
    <div class="col-md-4 mb-2">
      <b>#</b> <br>
      {{ pit.active_expedition.id }}
    </div>
    <div class="col-md-4 mb-2">
      <b>Start</b> <br>
      {{ pit.active_expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }}
    </div>
    <div class="col-md-4 mb-2">
      <b>Status</b> <br>
      {{ pit.active_expedition.state }}
    </div>
  </div>
  {% else %}
  <div>This pit is not assigned to any active expedition</div>
  {% endif %}

  <a class="btn btn-danger mt-4" href="{{ url_for('pit_remove', pit_id=pit.id) }}">
    <i class="fas fa-fw fa-trash-alt mr-1"></i>
    Remove pit
  </a>

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}
