{% extends "layout.html" %}
{% set active_page = "pit_add" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <legend class="border-bottom mb-4">Add pit</legend>
    <form id="pit-edit-form" method="POST" action="" class="m-2" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form.lattitude.label() }} <span class="required-field">*</span>
                {% if form.lattitude.errors %}
                {{ form.lattitude(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lattitude.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lattitude(class="form-control") }}
                {% endif %}
            </div>
            <div class="col-md-6 mb-2">
                {{ form.longitude.label() }} <span class="required-field">*</span>
                {% if form.longitude.errors %}
                {{ form.longitude(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.longitude.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                {{ form.longitude(class="form-control") }}
                {% endif %}
            </div>
        </div>


        <button type="input submit" class="mt-4 btn btn-primary">
            <i class="fas fa-fw fa-plus mr-1"></i>
            Add pit
        </button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
