{% extends "layout.html" %}
{% set active_page = "pit_list" %}

{% block content %}
{{ super() }}
<legend class="border-bottom mb-4"> Pits
</legend>
<div class="content table-wrapper-scroll-y">
  <table id="pits-table" class="m-table table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lattitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Active Expedition</th>
      </tr>
    </thead>
    <tbody>
      {% for pit in pit_list %}
      <tr data-href="{{ url_for('pit_edit', pit_id=pit.id) }}">
        <td> {{ pit.id }} </td>
        <td> {{ pit.lattitude }} </td>
        <td> {{ pit.longitude }} </td>
        <td> {{ pit.active_expedition_id or '' }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    var table = $('#pits-table').DataTable(
      {
        dom: '<"m-dt-header"B<"m-dt-header-right"f>>rt<"m-dt-footer"lp>',
        buttons: [
          {
            attr: { id: 'pit-add' },
            text: '<i class="fas fa-fw fa-plus mr-1"></i> Add pit',
            action: function (e, dt, node, config) {
              window.location.href = '{{ url_for("pit_add") }}';
            }
          }
        ]
      }
    );

    $('#pits-table tbody').on('click', 'tr', function () {
      if ($(this).is("[data-href]")) {
        window.location.href = $(this).attr('data-href');
      }
    });
  });
</script>
{% endblock scripts %}
