{% extends "layout.html" %}
{% set active_page = "profile" %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <legend class="border-bottom mb-4">#{{ current_user.id }} Profile details</legend>
  <form id="homo-edit-form" method="POST" action="" class="m-2" novalidate>

    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4">Auth</legend>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.email.label() }} <span class="required-field">*</span>
        {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control") }}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.password.label() }} <span class="required-field">*</span>
        {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid", placeholder="Unchanged") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          { error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control", placeholder="Unchanged") }}
        {% endif %}
      </div>
    </div>

    <legend class="border-bottom mb-4">Info</legend>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.first_name.label() }}
        {% if form.first_name.errors %}
        {{ form.first_name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.first_name.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.first_name(class="form-control") }}
        {% endif %}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.last_name.label() }}
        {% if form.last_name.errors %}
        {{ form.last_name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.last_name.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.last_name(class="form-control") }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.date_of_birth.label() }}
        {% if form.date_of_birth.errors %}
        {{ form.date_of_birth(id="date-of-birth", class="form-control datetimepicker-input is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.date_of_birth.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.date_of_birth(id="date-of-birth", class="form-control datetimepicker-input") }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        {{ form.skills.label() }}
        {% if form.skills.errors %}
        {{ form.skills(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.skills.errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% else %}
        {{ form.skills(class="form-control") }}
        {% endif %}
      </div>
    </div>

    {% if current_user.role == "HUNTER" %}
    <legend class="border-bottom mb-4">Active expedition</legend>
    {% if current_user.active_expedition %}
    <div class="row">
      <div class="col-md-4 mb-2">
        <b>#</b> <br>
        {{ current_user.active_expedition.id }}
      </div>
      <div class="col-md-4 mb-2">
        <b> Start </b> <br>
        {{ current_user.active_expedition.start_timestamp.strftime('%Y-%m-%d %H:%M:%S') if expedition.start_timestamp else '' }}
      </div>
      <div class="col-md-4 mb-2">
        <b>Status </b> <br>
        {{ current_user.active_expedition.state }}
      </div>
    </div>
    {% else %}
    <div>This homo is not assigned to any active expedition</div>
    {% endif %}
    {% endif %}

    <button type="input submit" class="mt-4 btn btn-primary">
      <i class="fas fa-fw fa-save mr-1"></i>
      Save Changes
    </button>
  </form>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function () {
    $('#date-of-birth').attr('data-toggle', 'datetimepicker');
    $('#date-of-birth').attr('data-target', '#date-of-birth');

    $('#date-of-birth').datetimepicker({
      format: 'YYYY-MM-DD',
      icons:
      {
        time: "fas fa-fw fa-clock",
        date: "fas fa-fw fa-calendar",
        up: "fas fa-fw fa-arrow-up",
        down: "fas fa-fw fa-arrow-down"
      }
    });
  });
</script>
{% endblock scripts %}
