{% extends "layout.html" %}

{% block body %}

  <!-- 404 Error Text -->
  <div class="text-center my-4">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-500 mb-2">Page Not Found</p>
    <a href="{{ url_for('list-view') }}">&larr; Back to parking lots</a>
  </div>

{% endblock %}
