<!--
Master thesis at FIT BUT - Unique car counting
Copyright (c) 2021 Peter Uhrín
Licensed under MIT
-->


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Peter Uhrín">

  <title>PK Tracker</title>

  <!-- Favicon -->  
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">

  {% block styles %}{% endblock %}

</head>

<body id="page-top">
  <!-- Custom scripts for all pages -->
  <script src="{{ url_for('static', filename='js/layout.js') }}"></script>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion toggled">

      <div class="sticky-top">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('list-view') }}">
          <div class="sidebar-brand-icon">
            <i class="fas fa-parking"></i>
          </div>
          <div class="sidebar-brand-text mx-3">PK Tracker</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div id="alert-area"></div>

          <template id="alert-template">
            <div class="alert alert-dismissible fade show mt-3" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </template>

          <template id="no-image-template">
            <span class="fas fa-image align-self-center mx-auto"></span>
          </template>

          {% block body %}{% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>

  {% block scripts %}{% endblock %}

</body>

</html>