{% extends "layout.html" %}

{% block body %}

  <!-- Page Heading -->
  <h3 class="h3 my-4 text-gray-800">Parking lots</h3>

  <!-- New parking lot card -->
  <div class="card shadow mb-4">
    <a href="#new-parking-lot-card" class="d-block card-header py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="collapse-card">
        <h6 class="m-0 font-weight-bold text-primary">New parking lot</h6>
    </a>
    <div class="collapse" id="new-parking-lot-card">
        <div class="card-body">
          <form id="new-parking-lot-form">
            <div class="form-row">
              <div class="col form-group">
                <label for="name-input">Parking lot name</label>
                <input
                  type="text" id="name-input" name="name"
                  class="form-control" aria-label="Parking lot name" required
                />
                <div id="name-invalid-feedback" class="invalid-feedback"></div>
              </div>
              <div class="col form-group">
                <label for="total-parking-spots-input">Total parking spots</label>
                <input
                  type="number" min="0" step="1" id="total-parking-spots-input" name="total_parking_spots"
                  class="form-control" aria-label="Parking lot name" required
                />
                <div id="total_parking_spots-invalid-feedback" class="invalid-feedback"></div>
              </div>
            </div>

            <div class="form-row">
              <div class="col text-center">
                <button id="new-parking-lot-form-submit" type="submit" class="btn btn-primary px-4">Create</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>

  <div id="parking-lots-area" class="row"></div>

  <template id="parking-lot-template">
    <div class="col-xl-4 col-6">
      <div class="card shadow mb-4">
        <div class="media" style="height: 160px;">
          <img
            id="parking-lot-frame"
            class="rounded-top" style="width: 100%; height: 100%;"
            src="/parking-lots/parking_lot_id/frames/latest"
            onerror="handleNoImageError(this)"
          />
        </div>
        <div class="card-body">
          <div class="row">
            <h5 id="parking-lot-name" class="col card-title text-primary text-truncate mb-3"></h5>
            <div class="col-auto text-xs font-weight-bold text-primary text-uppercase mb-1">
              ID: <span id="parking-lot-id"></span>
            </div>
          </div>
          <div class="row">
            <a
              id="parking-lot-detail" class="col btn btn-light border-left-success text-left mx-2"
              href="/parking-lot/parking_lot_id/detail"
            >
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Edit</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Spots</div>
            </a>
            <a
              id="parking-lot-statistics" class="col btn btn-light border-left-warning text-left mx-2"
              href="/parking-lot/parking_lot_id/statistics"
            >
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Show</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Statistics</div>
            </a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: <span id="parking-lot-last-updated"></span></small>
        </div>
      </div>
    </div>
  </template>

{% endblock %}

{% block scripts %}

  <script src="{{ url_for('static', filename='js/parking_lots.js') }}"></script>

{% endblock %}
