{% extends "layout.html" %}

{% block styles %}

  <link href="{{ url_for('static', filename='vendor/datepicker/datepicker-bs4.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

  <!-- Page Heading -->
  <div class="row my-4">
    <h3 class="col h3 text-gray-800 text-truncate">
      Statistics for <span class="text-primary">{{ parking_lot.name }}</span>
    </h3>
    <h5 class="col-auto font-weight-bold text-primary text-uppercase text-truncate">
      ID: {{ parking_lot.id }}
    </h5>
  </div>

  <!-- Filters card -->
  <div class="card shadow mb-4">
    <a href="#filters-card" class="d-block card-header py-3 collapsed" data-toggle="collapse"
        role="button" aria-expanded="false" aria-controls="collapse-card">
        <h6 class="m-0 font-weight-bold text-primary">Filters</h6>
    </a>
    <div class="collapse" id="filters-card">
      <div class="card-body">
        <form id="filters-form">
          <div class="form-row">
            <div class="col-8 form-group">
              <label for="end-range-inputs">Time range</label>
              <div id="time-range-inputs" class="input-group">
                <input
                  type="date" id="start-timestamp-input" class="form-control"
                  placeholder="From beginning" aria-label="Start timestamp"
                />
                <input
                  type="date" id="end-timestamp-input" class="form-control"
                  placeholder="Until now" aria-label="End timestamp"
                />
              </div>
            </div>

            <div class="col-4 form-group">
              <label for="scale-input">Time step</label>
              <select id="scale-input" name="scale" class="custom-select" aria-label="Time steps">
                <option value="minute">Minute</option>
                <option value="hour" selected>Hour</option>
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="col text-center">
              <button id="filters-form-submit" type="submit" class="btn btn-primary px-4">
                <div class="spinner-border spinner-border-sm text-light align-middle mr-2" style="display: none;" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                Apply
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Parking lot frame -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <a href="#parking-lot-frame-card" class="d-block card-header py-3" data-toggle="collapse"
          role="button" aria-expanded="true" aria-controls="collapse-card">
          <h6 class="m-0 font-weight-bold text-primary">Parking spots</h6>
        </a>
        <div class="collapse show" id="parking-lot-frame-card">
          <div class="card-body m-0 p-1">
            <div id="parking-lot-frame" class="chart-area rounded p-0"></div>
            <div class="bg-heatmap-yellow-red rounded text-xs text-gray-900 text-uppercase font-weight-bold mx-0 mt-1 px-3 py-2">
              <div class="row flex-nowrap">
                <span class="col-auto text-left">0</span>
                <span class="col text-center">Average occupancy [%]</span>
                <span class="col-auto text-right">100</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Parking lot stats -->
    <div class="col-xl-6 pr-3">
      <h5 class="h5 my-4 text-gray-800">Parking lot</h5>

      <div class="row">

        <!-- Total cards card -->
        <div class="col-6 mb-4">
          <div class="col card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    Total cars
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <span id="total-cars-card">0</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-car fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Average stay time card -->
        <div class="col-6 mb-4">
          <div class="col card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                    Average stay time
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <span id="average-stay-time-card">0.00</span> Hours
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-stopwatch fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Average occupancy chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Average occupancy</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="average-occupancy-chart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Parking spot stats -->
    <div class="col-xl-6 pl-3">
      <h5 class="h5 my-4 text-gray-800">Selected parking spot</h5>

      <div class="row">

        <!-- Total cards card -->
        <div class="col-6 mb-4">
          <div class="col card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    Total cars
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <span id="spot-total-cars-card">0</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-car fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Average stay time card -->
        <div class="col-6 mb-4">
          <div class="col card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                    Average stay time
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <span id="spot-average-stay-time-card">0.00</span> Hours
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-stopwatch fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Average occupancy chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Average occupancy</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="spot-average-occupancy-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  <script>
    const context = {
      urls: {
        parkingLotImgURL: "{{ url_for('parking-lot-latest-frame', parking_lot_id=parking_lot.id) }}",
        parkingSpotsURL: "{{ url_for('parking-spots', parking_lot_id=parking_lot.id) }}",
        statisticsURL: "{{ url_for('full-statistics', parking_lot_id=parking_lot.id) }}"
      }
    };
  </script>
  <script src="{{ url_for('static', filename='vendor/datepicker/datepicker-full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/chart/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/p5/p5.min.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/parking_statistics.js') }}"></script>

{% endblock %}
