{% extends "layout.html" %}

{% block body %}

  <!-- Page Heading -->
  <div class="row my-4">
    <h3 class="col h3 text-gray-800 text-truncate">
      Detail of <span class="text-primary">{{ parking_lot.name }}</span>
    </h3>
    <h5 class="col-auto font-weight-bold text-primary text-uppercase text-truncate">
      ID: {{ parking_lot.id }}
    </h5>
  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Parking lot information</h6>
        </div>
        <div class="card-body">
          <form id="parking-lot-detail-form">
            <div class="form-row">
              <div class="col form-group">
                <label for="name-input">Parking lot name</label>
                <input
                  type="text" id="name-input" name="name"
                  class="form-control" aria-label="Parking lot name" required value="{{ parking_lot.name }}"
                />
                <div id="name-invalid-feedback" class="invalid-feedback"></div>
              </div>
              <div class="col form-group">
                <label for="total-parking-spots-input">Total parking spots</label>
                <input
                  type="number" min="0" step="1" id="total-parking-spots-input" name="total_parking_spots"
                  class="form-control" aria-label="Parking lot name" required value="{{ parking_lot.total_parking_spots }}"
                />
                <div id="total_parking_spots-invalid-feedback" class="invalid-feedback"></div>
              </div>
            </div>
    
            <div class="form-row">
              <div class="col text-center">
                <button id="parking-lot-detail-form-submit" type="submit" class="btn btn-primary px-4">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Parking spots frame -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <a href="#parking-spots-frame-card" class="d-block card-header py-3" data-toggle="collapse"
          role="button" aria-expanded="true" aria-controls="collapse-card">
          <h6 class="m-0 font-weight-bold text-primary">Parking spots</h6>
        </a>
        <div class="collapse show" id="parking-spots-frame-card">
          <div class="card-body m-0 p-1">
            <div id="parking-spots-frame" class="chart-area rounded p-0"></div>
            <div class="bg-heatmap-yellow-red rounded text-xs text-gray-900 text-uppercase font-weight-bold mx-0 my-1 px-3 py-2">
              <div class="row flex-nowrap">
                <span class="col-auto text-left">0</span>
                <span class="col text-center">Average occupancy [%]</span>
                <span class="col-auto text-right">100</span>
              </div>
            </div>
            <div class="row text-center my-3">
              <div class="col">
                <button id="parking-spots-reset" class="btn btn-danger px-4 mr-2">Reset</button>
                <button id="parking-spots-save" class="btn btn-primary px-4 ml-2">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Region of interest frame -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <a href="#region-of-interest-card" class="d-block card-header py-3" data-toggle="collapse"
          role="button" aria-expanded="false" aria-controls="collapse-card">
          <h6 class="m-0 font-weight-bold text-primary">Region of interest</h6>
        </a>
        <div class="collapse show" id="region-of-interest-card">
          <div class="card-body m-0 p-1">
            <div id="region-of-interest-frame" class="chart-area rounded p-0"></div>
            <div class="bg-heatmap-red-green rounded text-xs text-gray-900 text-uppercase font-weight-bold mx-0 mt-1 px-3 py-2">
              <div class="row flex-nowrap">
                <span class="col-auto text-left">No</span>
                <span class="col text-center">Is in region of interest</span>
                <span class="col-auto text-right">Yes</span>
              </div>
            </div>
            <div class="row text-center my-3">
              <div class="col">
                <button id="region-of-interest-reset" class="btn btn-danger px-4 mr-2">Reset</button>
                <button id="region-of-interest-save" class="btn btn-primary px-4 ml-2">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  <script>
    const context = {
      urls: {
        parkingLotImgURL: "{{ url_for('parking-lot-latest-frame', parking_lot_id=parking_lot.id) }}",
        parkingLotURL: "{{ url_for('parking-lots', parking_lot_id=parking_lot.id) }}",
        parkingSpotsURL: "{{ url_for('parking-spots', parking_lot_id=parking_lot.id) }}",
        regionOfInterestURL: "{{ url_for('regions-of-interest', parking_lot_id=parking_lot.id) }}",
        statisticsURL: "{{ url_for('cumulative-statistics', parking_lot_id=parking_lot.id) }}"
      }
    };
  </script>
  <script src="{{ url_for('static', filename='vendor/p5/p5.min.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/parking_lot.js') }}"></script>

{% endblock %}
