<html>

<head>
  <style>
    canvas {
      cursor: crosshair;
    }

  </style>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container m-2">
    <div class="row">
      <div class="col-sm border-right d-flex flex-column">
        <label class="mx-2 mt-2 mb-0">Add</label>
        <div class="btn-group-vertical mx-2 mb-2 mt-0">
          <button class="mode-button btn btn-secondary" data-mode="ADD" data-object="POINT">Point</button>
          <button class="mode-button btn btn-secondary" data-mode="ADD" data-object="LINE">Line</button>
          <button class="mode-button btn btn-secondary" data-mode="ADD" data-object="POLYGON">Polygon</button>
        </div>
        <label class="mx-2 mt-2 mb-0">Actions</label>
        <div class="btn-group-vertical mx-2 mb-2 mt-0">
          <button class="mode-button btn btn-secondary" data-mode="MOVE">Move</button>
          <button class="mode-button btn btn-secondary" data-mode="REMOVE">Remove</button>
        </div>
      </div>
      <div class="col-sm">
        <canvas id="canvas" class="border" width="800" height="500"></canvas>
      </div>
      <div class="col-sm border-left"></div>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='drawable.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
