/* ITW 2018 - Projekt 1

Peter Uhrin (xuhrin02) */



/* Styly zakladnich elementu */

body {
    margin: 0;
    font-family: 'Crimson Text';
    font-size: 12pt;
}

header {
    min-width: 960px;
}

h1 {
    color: #5D4037;
    font-family: Lobster;
}

h2 {
    color: #5D4037;
    font-family: Lobster;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5D4037;
    text-decoration: underline;
}

ul {
    padding-left: 0px;
}

/* Horni navbar */

#navbar {
    background: linear-gradient(to right, #ff6f00, #ffa000);
    position: relative;
    border-top: 5px solid #3E2723;
}

#navbar ul {
    list-style-type: none;
    margin: 15px;
    padding-left: 0px;
}

#navbar .menu {
    position: relative;
    width: 960px;
    margin: auto;
    font-size: 13pt;
    font-weight: bold;
}

.menu-left {
    display: inline-block;
}

.menu-left li {
    display: inline;
    padding-left: 22px;
    padding-right: 22px;
}

.menu-right {
    display: inline-block;
    float: right;
}

.menu-right li {
    display: inline;
    padding-left: 22px;
    padding-right: 22px
}

.logo {
    display: flex;
    position: absolute;
    left: 381px;
    margin: 0;
    width: 198px;
    height: 122px;
    background-image: url(img/logo.png);
}

.logo a {
    width: 198px;
}

.logo span {
    visibility: hidden;
}

/* Footer */

.main {
    color: white;
    width: 960px;
    min-width: 960px;
    margin: auto;
}

.main .hours {
    float: left;
    width: 25%;
}

.main .about {
    float: left;
    margin-left: 13%;
    width: 24%;
}

.main .menu {
    float: right;
    width: 20%;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

footer .inner {
    padding-top: 28px;
    padding-bottom: 18px;
}

#footer {
    background-color: #252525;
    min-width: 960px;
}

.footer-title {
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1pt solid white;
}

.hours .footer-title {
    width: 85%;
}

footer td {
    padding: 0, 16px, 6px, 0px;
}

footer li {
    margin-bottom: 8px;
    margin-left: 15px;
    padding-left: 6px;
}

footer .social {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
}

footer .fab {
    color: #999999;
    margin-right: 12px;
}

footer .fas {
    color: #999999;
}

footer .fab:hover {
    color: white;
}

footer .fas:hover {
    color: white;
}

/* Hlavni titulek stranky */

#page-title {
    text-align: center;
    background: url(img/bg.png);
    background-size: cover;
    margin-top: 2px;
    padding-top: 180px;
    min-width: 960px;
    height: 230px;
}

#page-title h1 {
    font-size: 34pt;
    margin-top: 0px;
}

#page-title p {
    font-weight: bold;
}

/* Hlavni obsah stranky */

#main {
    background: url(img/pattern.png);
    min-width: 960px;
    padding-bottom: 24px;
}

#main a {
    color: #FF8F00;
}

.main-text {
    text-align: center;
    width: 960px;
    min-width: 960px;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 28px;
}

.main-text h1 {
    font-size: 34pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-map {
    width: 960px;
    min-width: 960px;
    margin: auto;
}

.box {
    background: white;
    border: 2px solid #eeeeee;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 5px;
}

.box h1 {
    margin: 0px;
}

.box h2 {
    font-size: 18pt;
    margin-top: 0px;
    margin-bottom: 25px;
}

.contacts {
    width: 960px;
    min-width: 960px;
    margin: auto;
    margin-top: 20px;
}

.form {
    float: left;
    width: 58%;
}

.form input {
    color: #888888;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    font-family: 'Crimson Text';
    padding: 5px 6px;
}

.form input[type=email] {
    width: 88%;
}

.form input[type=text] {
    width: 88%;
}

.form textarea {
    color: #888888;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    font-family: 'Crimson Text';
    width: 93%;
    margin-bottom: 15px;
    padding: 8px 8px;
}

.submit {
    color: white;
    background: #FF8F00;
    font-family: 'Crimson Text';
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit:hover {
    background: #5D4037;
}

.form .submit {
    width: 15%;
}

.row .left {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.row .right {
    float: right;
    width: 50%;
    margin-bottom: 15px;
}

.info {
    float: right;
    width: 34%;
}

.info p {
    margin-bottom: 0px;
}

.sidebar-social .fab {
    font-size: 34px;
    margin-right: 16px;
}

.sidebar-social .fab:hover {
    color: #5D4037;
}

.newsletter {
    width: 930px;
    margin: auto;
    margin-top: 20px;
}

.newsletter input {
    color: #dddddd;
    background: #f8f8f8;
    border: 1px solid #dddddd;
    width: 78%;
    font-family: 'Crimson Text';
    padding: 10px 5px;
}

.newsletter .submit {
    width: 20%;
    margin-left: -5px;
}

.newsletter p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Copyright */

#copyright {
    color: white;
    background-color: #333333;
    text-align: center;
    padding: 20px;
}

#copyright p {
    margin: 0px;
}
