@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    -webkit-print-color-adjust: exact;
    min-width: 850px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
}

a {
    color: black;
}

header {
    top: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#img-main {
    width: 100%;
}

footer {
    color: black;
    overflow: hidden;
    border-top: 1px solid black;
}


footer p {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.topnav .nav-elem {
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 27px;
}

.nav-elem:hover {
    background-color: rgba(192, 236, 174, 1);
}

#brand {
    padding: 8px 16px;
    margin-right: 5%;
}

#brand:hover {
    background-color: white;
}

.content {
    padding: 3% 8%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    margin-top: 4em;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: rgba(192, 236, 174, 0.6);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.map {
    border: 0;
    width: 100%;
    height: 450px;
}

.section-header1 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(192, 236, 174, 1);
    font-size: 30px;
    width: 100%;
}

.section-header2 {
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    outline: none;
    background-color: rgba(192, 236, 174, 0.4);
    font-size: 24px;
    width: 100%;
}

.section-header3 {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    outline: none;
    background-color: rgba(192, 236, 174, 0.2);
    font-size: 18px;
    width: 100%;
}

table {
    border: none;
    padding-top: 25px;
    padding-bottom: 35px;
    margin: auto;
}

.aktuality-content td {
    border-bottom: 1px solid rgba(192, 236, 174, 1);
}

#aktuality-btn {
    cursor: pointer;
}

.employees {
    text-align: center;
}

.employee {
    display: inline-block;
    width: 200px;
}

.web-map li {
    color: green;
}

.sluzby-img {
    width: 100%;
}

.galerie {
    width: 700px;
    padding: 5px;
    margin: auto;
}

.center {
    text-align: center;
}

@media print {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}
