html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.flash-message {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto;
}

.login-logo {
  padding:10px;
  width: 128px;
  height: 128px;
  border-radius: 25px;
  background: #0d769f;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn.btn-primary {
  background-color: #0d769f;
  border: none;
}

.btn.btn-primary:hover 
{
  background-color: #084963 !important;
  border:none;
}


