a {
  color: #0d769f;
}

a:hover
{
  color: #084963;
}

#navbar-logo
{
  width: 96px;
  height: 96px;

}

.navbar-brand.col-sm-3.col-md-2.mr-0.replaced-svg
{
  background-color:transparent;
}



/*
 * Sidebar
 */

.sidebar {
  background-color: #094b65;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  min-width: 150px;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);

  overflow-x: hidden;
  overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.nav-link {
  font-weight: 500;
  color: #fff;
}

.nav-link.active {
  background-color:#2b90b9cc;
  color: white;
}

.messages-num {
  background-color: #dc3546e3;
  color: white;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  display: inline-block;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 12px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-top
{
  display: inline-block;
  width: 100%;
}

.navbar-logo
{
  display:inline;
}

.navbar-top-hamburger
{
  float:right;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  min-width: 180px;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar-dark {
  background-color:#094b65 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.required-field {
  color: red !important;
}


/*Custom table style*/
.m-table .thead-dark th {
  background-color:#0d769f !important;
  border-color: #0d769f;
}

.m-table tr:nth-child(even) {
  background-color:#9ad5ec3f;
}

.m-table tbody tr {
  cursor: pointer;
}


.m-table tbody tr:hover td
{
  background-color:#2b90b9cc;
  color:white;
}

/**Custom data table style **/
.m-dt-header
{
  display:inline;
}

.m-dt-header-right
{
  display:flex;
  float:right;
}

.m-dt-footer
{
  display:inline;
}


/* Buttons */
.btn.btn-primary {
  background-color: #0d769f;
  border: none;
}

.btn.btn-primary:hover
{
  background-color: #084963 !important;
  border:none;
}

.btn.btn-secondary
{
  background-color: #0d769f;
  border-color:none;
  border-radius: 1;
  border: none;
}

.btn.btn-secondary:hover
{
  background-color: #084963 !important;
  border:none;
}

/* DataTable style*/
.page-item.active .page-link:hover
{
  background-color: #084963 !important;
}

.page-item.active .page-link {
  background-color: #0d769f;
  border-color: #0d769f;
}

.page-link
{
  color: #0d769f;
}

.message-pending
{
  color: white !important;
  background-color: #dc354696 !important;
  border-color: #dc354696  !important;
}

.message-pending.even {
  background-color: #dc3546e3 !important;
  border-color: #dc3546e3  !important;
}

/*********************IDs*******************************/
/* Homo list table */

#homos-table_length, #mammoths-table_length,
#expeditions-table_length, #expedition-hunters-table_length,
#expedition-pits-table_length, #pit-expeditions-table_length, #active-expeditions-table_length, #messages-table_length
{
  display:inline-block;
}

#homos-table_paginate, #mammoths-table_paginate,
#expeditions-table_paginate, #expedition-hunters-table_paginate,
#expedition-pits-table_paginate, #pit-expeditions-table_paginate, #active-expeditions-table_paginate, #messages-table_paginate
{
  float:right;
}

#navbar-title {
  text-align: center;
  color:white;
}

.nav-item a:hover {
  color:white;
  background-color: #1e7597;
}

.mammoth-icon {
  width:23px;
  height:20px;
}

.mammoths-link:hover > #mammoth-icon g > path
{
  fill: white !important;
}

.mammoths-link.active > #mammoth-icon g > path
{
  fill: white !important;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color: #326395 !important;
}

.card-header {
  background: none;
  padding: 0;
}

.card-body {
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
}

.card-header button {
  color: black;
  padding: 0;
  font-size: 22px;
  text-decoration: none;
}

.card-header button:hover {
  color: black;
  padding: 0;
  font-size: 22px;
  text-decoration: none;
}

.btn.btn-link {
  text-decoration: none;
}

.btn.btn-link:hover {
  text-decoration: none;
}

#logout:hover
{
  background-color: transparent;
}
.dataTables_empty
{
  cursor: default;
}

td.dataTables_empty:hover
{
  background-color: transparent !important;
  color: black !important;
}

#pit-map
{
  height:600px;
  width:600px;
}

.expedition-end-hunter-killed {
  color: white !important;
  background-color: #dc354696 !important;
  border-color: #dc354696  !important;
}

.expedition-end-hunter-killed.even {
  background-color: #dc3546b0 !important;
  border-color: #dc3546d0  !important;
}

.expedition-end-mammoth-killed {
  color: white !important;
  background-color: #28a74685 !important;
  border-color: #28a74685  !important;
}

.expedition-end-mammoth-killed.even {
  background-color: #28a746ad !important;
  border-color: #28a746ad  !important;
}
