.control-col{
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn{
    margin-right: .25rem;
    border-radius: .40rem;
}
.switch-button{
    background: url("../img/switch.svg") no-repeat scroll 0 0 transparent;
    width:80px;
    height: 40px;
    background-color:#007bff;
}
.toggle-whitespace{
    background: url("../img/ignore_whitespaces.svg") no-repeat scroll 0 0 transparent;
    width:80px;
    height: 40px;
    background-color:#007bff;
}
.btn-primary:not(:disabled):not(.disabled).active{
    background-color: #035ab8;
}
.merge-left-button{
    background: url("../img/merge_to_left.svg") no-repeat scroll 0 0 transparent;
    width:80px;
    height: 40px;
    background-color:#007bff;
}
.merge-right-button{
    background: url("../img/merge_to_right.svg") no-repeat scroll 0 0 transparent;
    width:80px;
    height: 40px;
    background-color:#007bff;
}
.lock-scroll{
    background: url("../img/lock_scroll.svg") no-repeat scroll 0 0 transparent;
    width:80px;
    height: 40px;
    background-color:#007bff;
}
