.folder-view
{
    margin: 20px;
}
.folder-button
{
    color: black;
    background-color: transparent;
    border:none;
    margin:10px;
    cursor: pointer;
}

button:focus
{
    outline:0;
}

.folder-button i
{   
    font-size: 100px;
    color: #81d2fb;
}

.ext-icon
{
    position: relative;
    font-size: 40px !important;
    color: #922f5ce6 !important;
    top: 10px;
    right: 40px;
}

.file-extension
{
    margin-right: -40px
}