.container-fluid
{
  padding: 0px;
}

.row
{
  margin: 0px;
}

.path-row
{
  position:absolute;
  width:100%;
  height:64px;
  top:0;
  border-bottom: 2px solid lightgrey;
}

.content-row
{
  position:absolute;
  width:100%;
  top:64px;
  bottom:64px;
  border-bottom: 2px solid lightgrey;
}

.control-row
{
  position:absolute;
  width:100%;
  height:64px;
  bottom:0;
}

.content-col
{
  padding-right:0px;
  padding-left: 0px;
}

.App .col-6
{
  border-right: 2px solid;
  border-color: lightgrey;
}

.App .react-codemirror2
{
  height: 100%;
}

.content-col
{
  height: 100%;
}

.CodeMirror
{
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
