.path
{
    background-color:white;
    display:flex;
    padding: 10px;
}

.btn-arrow-right::before, .btn-arrow-right::after, .btn-arrow-left::before, .btn-arrow-left::after
{
    top: 5px;
    height: 27px;
    width: 26px;
}

.btn-arrow-right::before, .btn-arrow-left::before
{
    right:-14px;
}

.btn-arrow-right::after, .btn-arrow-left::after
{
    right:-14px;
}

.path-element
{
    margin-right: 5px;
}

.scrolling-wrapper 
{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
